//set grid
.media-big {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
}

//set style 
.media-big__item {
  img {
    width: 100%;
  }
}
.media-big__body {
  .title {
    margin: 5px 0 35px;
     font-weight: lighter;
  }
}
