//set grid
.media-small {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6, $collapse:true);
  }
}
.media-small__item  {
  @include grid-column (3);
}
.media-small__body {
  @include grid-column (9);
}
.media-small.product {
  @media #{$medium-up} {
    @include grid-column(6);
  }
}

.product .media-small__item {
  @include grid-column (5, $collapse:true);
}
.product  .media-small__body {
  @include grid-column (7,  $last-column:true);
}

//set style
.articles__review-products {
  .media-small.product {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.articles__products--related {
  .media-small.product {
    margin-bottom: 35px;
  }
  .product-title {
    margin-bottom: 15px;
  }
}
.media-small {
  .product-title {
      font-size: rem-calc(20);
  }
}
.media-small__body {
  .author {
    font-size: rem-calc(14);
  }
  .title {
    font-size: rem-calc(16);
    margin: 5px 0;
    display: block;
  }
  .subtitle {
    margin: 0 0 5px 0;
    font-weight: lighter;
    font-size: rem-calc(14);
    color: $gray-dark;
  }
  .link__readmore {
    color: $green-light;
    font-size: rem-calc(12);
    &:after {
      content: "\003e";
      @include margin-left(5px);
    }
  }
  .w-rating,
  .prodCount {
    display: block;
  }
  .prodCount  {
    margin: 10px 0;
    font-size: rem-calc(14);
  }
}

//set media
@media #{$medium-up} {
  .articles__review-products {
    .media-small.product {
      margin-top: 0;
    }
  }
}