//set grid
.media-big {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
}

//set style 
.media-big__item {
  img {
    width: 100%;
  }
}
.media-big__body {
  .title {
     font-size: rem-calc(22);
     line-height: 1.3;
  }
}

//set media
@media #{$small-only} {
  .media-big {
    @include grid-column(12);
  }
}
