@mixin btn {
  @include button;
  font-size: inherit;
  background-color: $green-light;
  color: $white;
  text-transform: uppercase;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-background-clip: padding-box; //Prevent background color leak outs
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  &:hover {
    background-color: $green-dark;
  }
}

///home buttons
.featured-sidebar__btn,
.products-top__btn,
.products-recent__btn {
  @include btn;
}