//overwrite some default styles
button, .button {
  background-color: transparent;
  margin:0;
  padding:0;
  font-size: inherit;
  vertical-align: middle;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: transparent;
}

//set style
@mixin btn {
  @include button;
  padding:0.75rem 2rem;
  font-size: inherit;
  background-color: $green-light;
  color: $white;
  text-transform: uppercase;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;
  &:hover {
    background-color: $green-dark;
  }
}

@mixin btn-flat {
  @include btn;
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  border-radius: 0px; 
  margin-bottom: 0;
  padding: 0.5rem 1rem;
}

.b-trigger__btn{
  @include btn;
}
.scroll-3thumbs__btn {
  span {
    @include btn-flat;
  }
}

.w-poll__btn-submit {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  span {
    @include btn;
    width: 55%;
    margin-bottom: 0;
    &:hover, &:active, &:focus {
      background-color:$green-dark !important;
    }
  }
}

.b-counter__btn {
  display: block;
  width: 100%;
  text-align: center;
    span {
    @include btn;
  }
}