//List of colors and its value we use on site

//white
$white:#fff;

//black
$black:#333;

//gray
$gray-light:#ededed;
$gray-medium:#ccc;
$gray-dark:#999;

//green
$green-light:#40d0ad;
$green-dark:#1eab89;

//pink
$pink:#f64da3;