//List of colors and its value we use on site - beauty review

//white
$white:#fff;

//black
$black:#333;

//gray
$light-gray:#ededed;
$medium-gray:#ccc;
$dark-gray:#999;

//green
$light-green:#40d0ad;
$dark-green:#1eab89;


//pink
$pink:#f64da3;

