//create font variable
$font-droid:        Droid Arabic Kufi, serif;
$font-roboto:      Roboto, sans-serif;

//use font
  //english default
:lang(en) {
    font-family: $font-roboto;
     -webkit-font-smoothing: antialiased;
     line-height:1.3;

}

  //arabic default
:lang(ar) {
    font-family: $font-droid;
    -webkit-font-smoothing: antialiased;
    line-height:1.3
}

//global values
a {
  color:$pink; 
  text-decoration:none;
}
p {
  color:$gray-dark;
  margin:0;
}
h1,h2, h3, h4, h5 {
  color: $black;
  font-weight: normal;
  margin:0;
}

//global typo for screens
@media #{$small-up} {
  html {
    font-size:16px;   //this means p is 16px, based on it we make further calculations
  }
  h1 {
    font-size: rem-calc(18);
  }
  h2 {
    font-size: rem-calc(23);
  }
  h3 {
    font-size:rem-calc(16);
  }
    h4 {
    font-size: rem-calc(14);
  }
}  

@media #{$medium-up} {
    html {
    font-size:16px;   //this means p is 18px, based on it we make further calculations
  }
    h1 {
    font-size: rem-calc(24);
  }
  h2 {
    font-size: rem-calc(22);
  }
  h3 {
    font-size:rem-calc(14);
  }
}  

@media #{$large-up} {
    html {
    font-size:16px;   //this means p is 14px, based on it we make further calculations
  }
    h1 {
    font-size: rem-calc(24);
  }
  h2 {
    font-size: rem-calc(22);
  }
  h3 {
    font-size:rem-calc(16);
  }
  h4 {
    font-size: rem-calc(14);
  }
}

//dividers
.header__desk,
.product-page,
.b-editors  {
  margin-top: 35px;
}
.l-content,
.b-trigger,
.mpu__top,
.b-counter,
.w-forum,
.w-poll,
.b-articles,
.b-category__tags,
.b-editors,
.product-page article .share-article__list ,
.b-comment {
  margin-bottom: 35px !important;
}

.b-comment  {
     &:last-child  {
      margin-bottom: 0 !important;
  }
}