//set grid
.articles__review-products {
  @include grid-row($behavior:nest);
}
.articles__related {
  @include grid-row($behavior:nest);
}
.articles__products {
  @include grid-row($behavior:nest);
}
.articles__comments{
  @include grid-row();
}
.articles__products--related {
  @include grid-row($behavior:nest);
}

//set visibility rules

//set style
.b-articles {
  margin-bottom:35px;
  .btn {
    @include btn;
    display: table;
    margin-top: 35px;
  }
}
.b-articles__section-title {
  text-transform: uppercase;
  border-bottom:solid 3px $green-light;
  margin-top:0;
  margin-bottom: 15px;
  span {
    color:$gray-dark;
  }
}
.article__review-products--title-right,
.article__review-products--title-left {
  color: $black;
  line-height: 1.2;
}

//set media
@media #{$small-only} {
  .articles__review-products {
    border-bottom:solid 1px $gray-light;
  }
  .article__review-products--title-right,
  .article__review-products--title-left {
    margin-top:0;
    padding-left:10px;
  }
}

@media #{$medium-up} {
  //it pushes title in right 
  .article__review-products--title-right  {
    @include grid-column($offset:6);
  }
  .article__review-products--title-left  {
    @include grid-column();
    @include margin-right(50%);
  }
}