//set grid
.articles__review-products {
  @include grid-row();
}
.articles__related {
  @include grid-row($behavior:nest);
}
.articles__products {
  @include grid-row($behavior:nest);
}
.articles__comments{
  @include grid-row();
}
.articles__products--related {
  @include grid-row($behavior:nest);
}

//set visibility rules

//set style
.b-articles {
  .btn {
    @include btn;
    display: table;
  }
}
.b-articles__section-title {
  text-transform: uppercase;
  border-bottom:solid 3px $green-light;
  margin: 10px auto;
  span {
    color:$gray-dark;
  }
}
.article__review-products--title-right,
.article__review-products--title-left {
  color: $black;
  @include padding(0, 50px, 0, 0);
  font-size: rem-calc(20);
  margin: -30px 0 15px 0;
}

.articles__review-products {
  margin-top:35px;
  border-bottom:solid 1px $gray-light;
  &:nth-last-child(2) {
    border-bottom:none;
  }
}

//set media
@media #{$medium-up} {
  .article__review-products--title-right,
  .article__review-products--title-left {
    margin: 0 0 15px 0;
  }
  .articles__review-products {
    border-bottom:none;
    margin-bottom:35px;
    margin-top:0;
  }
  .article__review-products--title-right  {
    @include grid-column($offset:6);
  }
  .article__review-products--title-left  {
    @include grid-column();
    @include margin-right(50%);
  }
}