//set grid
.b-category__tags {
  @media #{$small-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

//set visibility rules

//set style
.b-category__tags {
  .tags__block {
    .tags__img {
      width: 100%;
      margin:5px 0;
    }
    .tags__title {
      color: $black;
      font-weight: lighter;
      font-size: rem-calc(16);
    }
  }
}