.b-counter {
  text-align: center;
  margin-bottom:35px;
  @media #{$small-up} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6, $push:6);
  }
  @media #{$large-up} {
    @include grid-column(12);
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    @include float(left);
  }
}