//set grid

//set visibility rules

//set style
.b-category__img {
    width: 100%;
    height: auto;
  }

.b-category__title {
font-weight:lighter;
font-size:rem-calc(24);
color:$black;
}

//set media