//set grid

//set visibility rules

//set style
.b-category__img {
  width: 100%;
  height: auto;
}

.b-category__title {
  font-weight:lighter;
  font-size:rem-calc(22);
  line-height: 1.5;
  padding-top:5px;
  color:$black;
}