//set grid
.b-category__tags {
  @media #{$small-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

//set style
.b-category__tags {
  .tags__block {
    position: relative;
    margin-bottom: 0;
    .tags__img {
      width: 100%;
    }
    .tags__title {
      bottom: 0;
      position: absolute;
      background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
      padding: 10px;
      width: 100%;
    }
  }
}
//set media 
