//set grid
.b-category {
  @include grid-column(12, $collapse:true);
}
//set style
.b-category {
  /*margin-bottom: 35px;*/
  .b-category__section-title{
    text-transform: uppercase;
    border-bottom:solid 3px $green-light;
    /*font-size: rem-calc(24);
    margin-bottom: 15px;*/
    span {
      color:$gray-dark;
    }
  }
  .b-category__img {
    width: 100%;
  }
  .b-category__title {
   /* font-size: rem-calc(24);*/
    color: $black;
   /* line-height: 1.3;
    padding-top: 11px;*/
  }
} 


//set media 
@media #{$small-only} { 
  .b-category .b-category__section-title {
   /* margin-bottom:5px;*/
  }
 .b-category .b-category__title {
   /* font-size: rem-calc(22);
    line-height: 1.3;*/
  }
}
@media #{$medium-only} { 
  .b-category.tags {
   /* margin-bottom: 35px;*/
  }
  }