//set grid
.b-counter {
  @media #{$small-only} {
    @include grid-column(12,$collapse:true);
  }
  @media #{$medium-only} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(11, $center:true, $collapse:true);
  }
}

//set visibility rules

//set style
.b-counter {
  .col-border {
    border:solid 1px $gray-light;
    padding: 10px;
  }
  text-align: center;
  .head-title {
    font-weight:lighter;
    color: $black;
    text-transform: uppercase;
   font-size: rem-calc(36); 
    span {
      color:$gray-dark;
    }
  }
  .title {
    text-transform: uppercase;
    color: $green-light;
     font-size: rem-calc(36); 

  }
  .subtitle {
    border-top: solid 1px $gray-light;
    border-bottom: solid 1px $gray-light;
    color: $pink;
    text-transform: uppercase;
    font-size: rem-calc(18); 
  }
  .btn {
    @include btn;
    margin-top:35px;
  }
}
.b-counter--content {
  width: 253px;
  height: 170px;
  position: relative;
  margin: 0 auto;
}

.b-counter--content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  .b-counter__productCount {
    color: white;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index:2;
    left: 0;
    font-size: rem-calc(46); 
width: 57%;
height: 93%;
    padding-top: 33px;
    line-height: 0.9;
    @include padding-right(9px);
    span {
      display: block;
      font-weight: normal;
     font-size: rem-calc(18);
    }
  }
  .b-counter__reviewCount {
    color: white;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
    right: 0;
    z-index:1;
   font-size: rem-calc(36); 
width: 49%;
height: 90%;
    @include padding(33px, 5px, 0, 0);
    line-height: 0.9;
    span {
      display: block;
      font-size: rem-calc(18);
      font-weight: normal;
    }
  }
}

@media #{$medium-up} {
  .b-counter--content {
    width: 268px;
  }
}