//set grid
.b-comment {
  @include grid-row();
}
.b-comment__member {
  @media #{$small-only} {
      @include grid-column(3);
  }
  @media #{$medium-up} {
  @include grid-column(2);
}
}
.b-comment__body {
    @media #{$small-only} {
      @include grid-column(9);
  }
  @media #{$medium-up} {
  @include grid-column(10);
}
}

//set visibility
.b-comment__list .b-comment__item--text,
.b-comment__body-tips,
.b-comment__member .b-comment__member-like-num,
.section-list__right-align  {
  @extend .hide-for-small-only;
}
.b-comment__body .link__readmore {
  @extend .show-for-small-only;
}

//set style
.b-comment {
.b-comment__list {
  list-style: none;
  margin:0 0 35px;
  padding:0;
  color: $gray-medium;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
  .b-comment__item--date {
    @include float(right);
    margin-top: 6px;
    font-size: rem-calc(14);
  }
}

.b-comment__member {
  img {
    margin-bottom: 10px;
  }
  a {
    color: $pink;
    display: block;
    text-align: center;
     font-size: rem-calc(14);
  }
  p {
    text-align: center;
     font-size: rem-calc(14);
     color: $gray-medium;
  }
  }

  .b-comment__body {
    .b-comment__body-title {
      color: $black;
    }
    p {
      margin:15px 0;
      font-weight: lighter;
      font-size: rem-calc(14);
      line-height: 1.5;
    }
    .link__readmore {
       color: $green-light;
    font-size: rem-calc(12);
    &:after {
      content: "\003e";
      @include margin-left(5px);
    }
    }
  }
}

//set media 
@media #{$medium-up} { 
.section-list__right-align { 
  list-style: none;
  margin: 0 0 35px;
  padding:0;
    display: block;
  @include text-align(right);
  >li {
    display: inline-block;
      font-size: rem-calc(14);
    &:after {
      content: "|";
            @include padding-left(10px);
      @include padding-right(10px);
      color: $pink;
      font-size: rem-calc(12);
    }
    &:last-child {
      &:after {
        content: "";
        @include padding-right(0);
        @include padding-left(0);
      }
    }
  }
}

.b-comment {
 ul.b-comment__list {
    border-top:solid 1px $gray-light;
    border-bottom:solid 1px $gray-light;
      width:100%;
       text-align: left;
        @include float(left);
          margin: 15px  0;
    >li {
      display: inline-block;
      font-weight: lighter;
      min-width: 18%;
      @include float(left);
      line-height: 3.5;
      vertical-align: middle;
      padding: 0;
    }
    .b-comment__item--date {
      @include text-align(right);
    }
  }
}

.b-comment__member {
  a, p {
    display: block;
    text-align: center;
       font-size: rem-calc(12) !important;

  }
.b-comment__member-like-num {
      width: 87px;
      margin:35px auto;
    img {
      display: block;
      margin:0 auto 15px;
    }
}
}

.b-comment__body .b-comment__body-subtitle {
    font-weight: bold !important;
    color: $black;
  }
  .btn-reply__comment {
    @include float(right);
    font-size: rem-calc(12);
  span {
    display: inline-block;
    height: 16px;
    width: 22px;
    @include margin-left(8px);
}
  }
}