//set grid
.b-counter {
  @media #{$small-only} {
    @include grid-column(12,$collapse:true);
  }
  @media #{$medium-only} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12,$collapse:true);
  }
}

//set style
.b-counter {
  text-align: center;
  margin-bottom:35px;
  .head-title {
    font-size: rem-calc(28);
    color: $black;
    text-transform: uppercase;
    span {
      color:$gray-dark;
    }
  }
  .title {
    font-size: rem-calc(28);
    text-transform: uppercase;
    color: $green-light;
    line-height: 0.5;
    padding-bottom: 13px;
  }
  .subtitle {
    border-top: solid 1px $gray-light;
    border-bottom: solid 1px $gray-light;
    color: $pink;
    text-transform: uppercase;
    line-height: 1.9;
  }
}

.b-counter--content {
  margin-bottom: 15px;
  margin:0 auto;}

  .b-counter--content-wrapper {
    position: relative;
    margin:0 auto;
    .content-products__productCount {
      position: absolute;
      line-height: 0.8;
      color: white;
      font-weight: bold;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      z-index:2;
      @include left(0);
      span {
        display: block;
        font-weight: normal;
      }
    }
    .content-products__reviewCount {
      position: absolute;
      color: white;
      font-weight: bold;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      @include right(0);
      line-height: 0.8;
      z-index:1;
      span {
        display: block;
        font-size: rem-calc(18);
        font-weight: normal;
      }
    }
  }

//set media
@media #{$small-only} {
  .b-counter--content-wrapper {
    min-height: 192px;
  }
  .b-counter--content-wrapper {
    width: 248px;
  }
  .b-counter--content-wrapper .content-products__productCount {
    font-size: rem-calc(37);
    height: 145px;
    @include padding-right(11px);
    padding-top: 36px;
    top: 29px;
    width: 139px;
    span {
      font-size: rem-calc(18);
    }
  }
  .b-counter--content-wrapper  .content-products__reviewCount {
    font-size: rem-calc(35);
    height: 145px;
    @include padding-right(19px);
    padding-top: 56px;
    top: 21px;
    width: 139px;
    span {
      font-size: rem-calc(18);
    }
  }
}

@media #{$medium-only} {
  .b-counter--content-wrapper {
    min-height: 217px;
  }
  .b-counter--content-wrapper {
    width: 283px;
  }
  .b-counter--content-wrapper .content-products__productCount {
    font-size: rem-calc(41);
    height: 172px;
    @include padding-right(15px);
    padding-top: 50px;
    top: 16px;
    width: 168px;
    span {
      font-size: rem-calc(18);
    }
  }
  .b-counter--content-wrapper  .content-products__reviewCount {
    font-size: rem-calc(35);
    height: 156px;
    @include padding-right(4px);
    padding-top: 42px;
    top: 21px;
    width: 149px;
    span {
      font-size: rem-calc(18);
    }
  }
}


@media #{$large-up} {
  .b-counter--content-wrapper {
    min-height: 190px;
  }
  .b-counter--content-wrapper {
    width: 254px;
  }
  .b-counter--content-wrapper .content-products__productCount {
    font-size: rem-calc(41);
    @include padding-right(19px);
  height: 154px;
    padding-top: 37px;
    top: 16px;
    width: 158px;
    span {
      font-size: rem-calc(18);
    }
  }
  .b-counter--content-wrapper  .content-products__reviewCount {
    font-size: rem-calc(35);
    height: 140px;
    @include padding-right(8px);
    padding-top: 34px;
    top: 21px;
    width: 136px;
    span {
      font-size: rem-calc(18);
    }
  }
}