//set holders
.b-product {
  .product__img {
    @media #{$small-only} {
      @include grid-column(3, $collapse:true);
    }
    @media #{$medium-up} {
      @include grid-column(6, $collapse:true);
    }
    @media #{$large-up} {
      @include grid-column(6, $collapse:true);
    }
  }
  .product__body {
    @media #{$small-only} {
      @include grid-column(9);
    }
    @media #{$medium-up} {
      @include grid-column(6);
    }
    @media #{$large-up} {
      @include grid-column(6);
    }
  }
}

//style block products
.b-product  {
  .product__title {
    font-size: rem-calc(18);
    color: $black;
  }
  .product__img {
    border:solid 1px $gray-light;
    text-align: center;
  }
  .product__counter,
  .product__subtitle {
    font-size: rem-calc(14);
  }
  .product__link {
    color: $green-light;
    font-size: rem-calc(12);
  }
}