//set grid
.b-review-products {
  @include grid-column(12);
}
.b-review-products__review,
.b-review-products__product {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(6);
  }
}
.b-review-products--wrapper{
  @include grid-row();
}
.b-review-products__product-content {
  @include grid-row($behavior: nest);
}
.product-content__body {
  @include grid-column(7);
}
//set style
.b-review-products--wrapper{
  margin-bottom:35px;
}
.b-review-products__section-title {
  text-transform: uppercase;
  border-bottom:solid 3px $green-light;
  font-size: rem-calc(24);
  margin-bottom: 15px;
  span {
    color:$gray-dark;
  }
}
.product-content__title {
    color: $black;
    font-size: rem-calc(18);
    line-height: 1.2;
    padding-top: 3px;
    padding-bottom:10px;
}
.product-content__media {
  @include float(left);
  display: block;
  max-width: 38%;
}
.product-content__body {
  .prodCount, .title, a {
    font-size: rem-calc(14);
       padding-bottom: 3px;
    padding-top: 3px;
    display: block;
  }
  .link__readmore {
    color: $green-light;
  }
}
