//set visibility
.b-scroll-3thumbs .scroll-3thumbs__btn {
  @extend .hidden-for-small-only;
}

//set style
.b-scroll-3thumbs {
  margin-bottom: 35px;
    &:after {
    content: "";
    clear: both;
    display: block;
  }
  .btn {
    display: block;
@include float(left);
  width: 100% ;
  border-bottom: solid 1px $gray-light;
  margin-top:35px;
  span {
    @include btn-flat;
    @include float(right);

  }
}
.b-scroll-3thumbs__section-title {
  text-transform: uppercase;
  border-bottom:solid 3px $green-light;
  font-size: rem-calc(24);
  margin-bottom: 15px;
  span {
    color:$gray-dark;
  }
}
.b-scroll-3thumbs__list {
  padding-left:30px;
  padding-right: 30px;
  .item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .item__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .item__title {
    color: $black;
    margin: 0;
    font-size: rem-calc(15);
  }
  .item__subtitle {
    color: $gray-dark;
    margin: 0;
  }
  .item__reviewCount {
    color: $pink;
    margin: 0;
  }
}

}


//set media
@media #{$small-only} {
  .b-scroll-3thumbs__list .item__title, 
  .b-scroll-3thumbs__list .item__subtitle,
  .b-scroll-3thumbs__list .item__reviewCount {
    font-size: rem-calc(20);
    line-height: 1.3;
  }
}