//set grid
.b-scroll-3thumbs.top-rated-week {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8, $pull:4);
  }
}


.b-scroll-3thumbs {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}

//set visibility
.b-scroll-3thumbs .scroll-3thumbs__btn {
  @extend .hidden-for-small-only;
}



//set style
.b-scroll-3thumbs {
  margin-bottom: 35px;
}
.b-scroll-3thumbs__section-title {
  text-transform: uppercase;
  border-bottom:solid 3px $green-light;
  font-size: rem-calc(24);
  margin-bottom: 15px;
  span {
    color:$gray-dark;
  }
}
.b-scroll-3thumbs__list {
  padding-left:30px;
  padding-right: 30px;
  .item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .item__img {
    display: block;
    width: 100%;
    height: auto;
  }
  .item__title {
    color: $black;
    margin: 0;
    font-size: rem-calc(15);
  }
  .item__subtitle {
    color: $gray-dark;
    margin: 0;
  }
  .item__reviewCount {
    color: $pink;
    margin: 0;
  }
}
.scroll-3thumbs__btn {
  display: block;
  @include float(right);
  width: 100% !important;
  border-bottom: solid 1px $gray-light;
  margin-top:35px;
  span {
    display: inline-block;
    @include float(right);
  }
}

.b-scroll-3thumbs__list.owl-carousel.owl-theme {
//Styling Next and Prev buttons 
.owl-controls .owl-buttons .owl-prev,
.owl-controls .owl-buttons .owl-next {
  @media #{$small-only} {
    border:solid 1px $gray-light;
    width: 41px;
    height: 72px;
  }
  @media #{$medium-up} {
    width: 21px;
    height: 40px;
  }
  @media #{$large-up} {
    width: 17px;
    height: 35px;
  }
  position: absolute;
  font-size: rem-calc(30);
  display: inline-block;
  zoom: 1;
  top: 18%;
}
.owl-controls .owl-buttons .owl-prev {
  left: 0;
}
.owl-controls .owl-buttons .owl-next {
  right: 0;
}
}//end products-top__list


//set media
@media #{$small-only} {
  .b-scroll-3thumbs__list .item__title, 
  .b-scroll-3thumbs__list .item__subtitle,
  .b-scroll-3thumbs__list .item__reviewCount {
    font-size: rem-calc(20);
    line-height: 1.3;
  }
}