//set visibility
.b-scroll-3thumbs .scroll-3thumbs__btn {
  @extend .hidden-for-small-only; 
}

//set style
.b-scroll-3thumbs__list {
  margin-bottom: 35px;
  text-align: center;
  padding-left:30px;
  padding-right: 30px;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  .b-scroll-3thumbs__item {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    p {
      line-height: 1.45;
    }
  }
  .b-scroll-3thumbs__item--img {
    display: block;
    width: 100%;
    height: auto;
  }
  .b-scroll-3thumbs__item .w-rating {
    margin-bottom:10px;
  }
  .b-scroll-3thumbs__item--title {
    color: $black;
    margin: 0;
    font-weight: bold;
  }
  .b-scroll-3thumbs__item--subtitle {
    color: $gray-dark;
    margin: 0;
  }
  .b-scroll-3thumbs__item--reviewCount {
    color: $pink;
    margin: 0;
  }

}

.b-scroll-3thumbs__list .b-scroll-3thumbs__item--reviewCount {
  font-size: rem-calc(14);
}