//set grid
.b-trigger {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(11, $center:true);
  }
  border:solid 1px $gray-light;

}

//set style
.b-trigger {
  margin-bottom: 35px;
  text-align: center;
  .b-trigger__list {
    list-style: none;
    margin: 0 0 35px;
    padding:0;
    position: relative;
    >li {
      display: block;
      overflow: hidden;
    }
    .b-trigger__item--img {
      img {
        width:100%;
      }
    }
    .b-trigger__item--content {
      bottom: 0;
      @include left(0);
      position: absolute;
      background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
      width: 100%;
      @include text-align(left);
      height: 70px;
      @include padding-left(10px);
      padding-top: 10px;
    }
    .b-trigger__item--title {
      color: $black;
      line-height: 1;
    }
    .b-trigger__item--subtitle {
      color: $gray-dark;
    }
    .b-trigger__item--reviewCount {
      @include right(0);
      line-height: 0.98;
      padding: 10px;
      height: 70px;
      position: absolute;
      background-color: $pink;
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      bottom: 0;
      span {
        display: block;
        font-weight: normal;
      }
    }
  }
  .btn{
    @include btn;
    margin: 0 auto 15px;
  }
}

//set media
@media #{$small-only} {
  .b-trigger__item--title {
    font-size: rem-calc(21);
  }
  .b-trigger__item--subtitle {
    font-size: rem-calc(20);
  }
  .b-trigger__item--reviewCount { 
    font-size: rem-calc(32);
  }
  .b-trigger__item--reviewCount span {
    font-size: rem-calc(14);
  }
}

@media #{$medium-up} {
  .b-trigger__item--title {
    font-size: rem-calc(19);
  }
  .b-trigger__item--subtitle {
    font-size: rem-calc(16);
  }
  .b-trigger__item--reviewCount {
    font-size: rem-calc(23);
  };
  .b-trigger__item--reviewCount span { 
    font-size: rem-calc(16);
  }
}

@media #{$large-up} {
  .b-trigger__item--title {
    font-size: rem-calc(18);
  }
}
