//set grid
 .b-teaser__products-top--h {
    @media #{$small-only} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$medium-up} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$large-up} {
      @include grid-column(12, $collapse:true);
    }
  }


//style block 
.b-teaser__products-top--h {
  margin-bottom: 35px;
  .products-top__title {
    text-transform: uppercase;
    border-bottom:solid 3px $green-light;
    font-size: rem-calc(24);
    span {
      color:$gray-dark;
    }
  }
  .products-top__list  {
    padding-left:30px;
    padding-right: 30px;
    .item{
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
    }
    .item__img {
      display: block;
      width: 100%;
      height: auto;
      border:solid 1px $gray-light;
    }
    .item__title {
      color: $black;
      margin: 0;
      font-size: rem-calc(15);
    }
    .item__subtitle {
      color: $gray-dark;
      margin: 0;
    }
    .item__counter {
      color: $pink;
      margin: 0;
    }
  }
  .products-top__btn-holder {
    display: block;
    border-bottom: solid 1px $gray-light;
    margin-top: 35px;
    .products-top__btn {
      @include float(right);
      border-radius: 0;
      margin: 0;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
} //end style

//owl
//home products-top__list owl-carousel owl-theme
.b-teaser__products-top--h .products-top__list.owl-carousel.owl-theme {
  //Styling Next and Prev buttons 
  .owl-controls .owl-buttons .owl-prev,
  .owl-controls .owl-buttons .owl-next {
    @media #{$small-only} {
      border:solid 1px $gray-light;
       width: 41px;
       height: 72px;
    }
    @media #{$medium-up} {
      width: 21px;
      height: 40px;
    }
      @media #{$large-up} {
      width: 17px;
      height: 35px;
    }
    position: absolute;
    font-size: rem-calc(30);
    display: inline-block;
    zoom: 1;
    top: 18%;
  }
  .owl-controls .owl-buttons .owl-prev {
    left: 0;
  }
  .owl-controls .owl-buttons .owl-next {
    right: 0;
  }
}//end products-top__list

