//set grid
.b-three__article  {
  @media #{$small-up} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$large-up} {
    @include grid-column(8, $collapse:true);
  }
}

.b-three__article-one {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(8);
  }
}

.b-three__article-two  {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

//set style
.b-three__article  {
  margin-bottom:35px;
}
.b-three__article-one__img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.b-three__article-one__title {
  text-transform: uppercase;
  color:$green-light;
  font-size: rem-calc(24);
  padding-top: 10px;
  padding-bottom: 0px;
} 
.b-three__article-one__subtitle {
  color:$black;
  font-size: rem-calc(22);
  line-height: 1.3;
  font-weight: lighter;
}

.b-three__article-two__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.b-three__article-two__list-item__top,
.b-three__article-two__list-item__bottom {
  position: relative;
  margin-bottom:35px;
}

.b-three__article-two__list-item__top-label,
.b-three__article-two__list-item__bottom-label{
  position: absolute;
  top: 0;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  right:0;
}

.b-three__article-two__list-item__top-img,
.b-three__article-two__list-item__bottom-img {
  min-width: 100%;
  height: auto;
}

.b-three__article-two__list-item__top-title,
.b-three__article-two__list-item__bottom-title {
  position: absolute;
  bottom: 0;
  background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
  color: $black;
  padding: 8px;
  width: 100%;

}  

//set media
@media #{$small-up} {
  .b-three__article-two__list-item__top-label,
  .b-three__article-two__list-item__bottom-label{
    height: 36px;
    line-height: 2.6;
    width: 97px;
  }
  .b-three__article-one__title,
  .b-three__article-one__subtitle {
    @include padding-left(10px);
  }
  .b-three__article-two {
    margin-top: 35px;
  }
  .b-three__article-two__list-item__top-title,
  .b-three__article-two__list-item__bottom-title {
    font-size: rem-calc(20);
    line-height: 1.3;
  }
}

@media #{$medium-up} {
  .b-three__article-two__list-item__top-label,
  .b-three__article-two__list-item__bottom-label{
    height: 36px;
    line-height: 2.2;
    width: 122px;
  }
  .b-three__article-two {
    margin-top: 0;
  }
  .b-three__article-two__list-item__top-title,
  .b-three__article-two__list-item__bottom-title {
    font-size: rem-calc(18);
    font-weight: lighter;
    line-height: 1.3;
  }
}

@media #{$large-up} {
  .b-three__article-two__list-item__top-label,
  .b-three__article-two__list-item__bottom-label{
    height: 31px;
    line-height: 2;
    width: 107px;
  }
}