//set grid
.b-three-articles {
  .b-three-articles__content {
    @include grid-row();
  }
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
  .content-block {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(8);
    }
    @media #{$large-up} {
      @include grid-column(8);
    }
  }
  .content-list   {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(4);
    }
    @media #{$large-up} {
      @include grid-column(4);
    }
  }
}


//set style
.b-three-articles {
  .content-block {
    .content-block__img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .content-block__title {
      text-transform: uppercase;
      color:$green-light;
      font-size: rem-calc(24);
      padding-top: 10px;
      padding-bottom: 0px;
    }
    .content-block__subtitle {
      color:$black;
      font-size: rem-calc(22);
      line-height: 1.3;
    }
  }
  .content-list  {
    .content-list__items {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .list__item--top,
    .list__item--bottom {
      position: relative;
      margin-bottom:35px;
    }
    .list__item--top-label,
    .list__item--bottom-label {
      position: absolute;
      top: 0;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      @include right(0);
    }
    .list__item--top-img,
    .list__item--bottom-img {
      min-width: 100%;
      height: auto;
    }
    .list__item--top-title,
    .list__item--bottom-title {
      position: absolute;
      bottom: 0;
      background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
      color: $black;
      padding: 8px;
      width: 100%;
    }
  }
}

//set media
@media #{$small-only} { 
  .b-three-articles .content-block {
    margin-bottom: 35px;
  }
  .b-three-articles .content-list .list__item--top-title, 
  .b-three-articles .content-list .list__item--bottom-title {
    font-size: rem-calc(20);
    line-height: 1.3;
    padding: 8px 8px 12px;
  }
  .b-three-articles .content-list .list__item--top-label,
  .b-three-articles .content-list .list__item--bottom-label {
    height: 43px;
    padding-left: 8px;
    padding-top: 6px;
    right: -1px;
    width: 98px;
    font-size:rem-calc(18);
  }
}

@media #{$medium-up} {
  .b-ad__top {
    margin-top: 13px !important;
  }
  .b-three-articles .content-list .list__item--top-title, 
  .b-three-articles .content-list .list__item--bottom-title {
    font-size: rem-calc(18);
    line-height: 1.2;
  }
  .b-three-articles .content-list .list__item--top-label,
  .b-three-articles .content-list .list__item--bottom-label {
    height: 40px;
    padding-left: 14px;
    padding-top: 5px;
    width: 106px;
  }
} 
@media #{$large-up} { 
  .b-three-articles .content-list .list__item--top-label,
  .b-three-articles .content-list .list__item--bottom-label {
    width:108px;
    padding-top: 1.3%;
    height: 35px;
    right: -1px;
  }
}