//set grid 
.b-teaser__mix-content--h {
    @media #{$small-only} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$medium-up} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$large-up} {
      @include grid-column(12, $collapse:true);
    }
  }
  
//set holder
.b-teaser__mix-content--h {
  .wrapper {
    @include grid-row();
    margin-bottom: 35px !important;
  }
  .article-review {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(6);
    }
    @media #{$large-up} {
      @include grid-column(6);
    }
  }
 
} //end set holder

//set style
.b-teaser__mix-content--h {
  .mix-content__title {
    text-transform: uppercase;
    border-bottom:solid 3px $green-light;
    font-size: rem-calc(24);
  }
}//end set style