//set grid
.b-trigger {
  border:solid 1px $gray-light;
  padding: 10px;
}

//set style
.b-trigger {
  text-align: center;
  .b-trigger__list {
    list-style: none;
    margin: 0 0 35px;
    padding:0;
    position: relative;
    >li {
      display: block;
      overflow: hidden;
    }
    .list__item--img {
      img {
        width:100%;
      }
    }
    .list__item--content {
      bottom: 0;
      @include left(0);
      position: absolute;
      background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
      width: 81%;
      padding-bottom: 15px;
      padding-top: 15px;
    }
    .list__item--title {
      font-size: rem-calc(18);
      color: $black;
    }
    .list__item--subtitle {
      font-size: rem-calc(16);
      color: $gray-dark;
    }
    .list__item--reviewCount {
      @include right(0);
      position: absolute;
      background-color: $pink;
      color: $white;
      font-size: rem-calc(30);
      padding: 16px 10px;
      font-weight: bold;
      text-transform: uppercase;
      bottom: 0;
      line-height: 1;
      span {
        font-size:rem-calc(14);
        display: block;
        font-weight: normal;
      }
    }
  }
  .btn{
  @include btn;
  margin: 0 auto 5px;
}
}

//set media
@media #{$small-only} {
  .b-trigger .b-trigger__list .list__item--content {
    width: 81%;
  }
  .b-trigger .b-trigger__list .list__item--title,
  .b-trigger .b-trigger__list .list__item--subtitle {
    font-size: rem-calc(20);
    line-height: 1.3;
  }
  .b-trigger .b-trigger__list .list__item--reviewCount {
    font-size: rem-calc(34);
    line-height: 1;
    padding:13px 10px 10px;
    span {
      font-size:rem-calc(16);
    }
  }
}

@media #{$medium-only} {
  .b-trigger .b-trigger__list .list__item--content {
    width: 81%;
  }
  .b-trigger .b-trigger__list .list__item--title,
  .b-trigger .b-trigger__list .list__item--subtitle {
    font-size: rem-calc(22);
    line-height: 1.3;
  }
  .b-trigger .b-trigger__list .list__item--reviewCount {
    font-size: rem-calc(34);
    line-height: 1;
    padding:14px 10px;
    span {
      font-size:rem-calc(16);
    }
  }
}

