//set grid
.b-three__article  {
  @media #{$small-up} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$large-up} {
    @include grid-column(8, $collapse:true);
  }
}

.b-three__article-one {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(8);
  }
}

.b-three__article-two  {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
  @media #{$large-up} {
    @include grid-column();
  }
}

//set style
.b-three__article-one__img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.b-three__article-one__title {
  text-transform: uppercase;
  color:$green-light;
  font-size: rem-calc(20);
  padding: 0 8px;
} 
.b-three__article-one__subtitle {
  color:$black;
  font-weight: lighter;
  padding: 0 8px;
  font-size: rem-calc(18);
}

.b-three__article-two {
  margin-top:35px;
}

.b-three__article-two__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.b-three__article-two__list-item__top,
.b-three__article-two__list-item__bottom {
  position: relative;
  margin-bottom:35px;
}

.b-three__article-two__list-item__top-label,
.b-three__article-two__list-item__bottom-label {
  position: absolute;
  top: 0;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  right:0;
  min-height: 38px;
  min-width: 97px;
  padding:8px 0 8px 14px;
}

.b-three__article-two__list-item__top-img,
.b-three__article-two__list-item__bottom-img {
  min-width: 100%;
  height: auto;
}

.b-three__article-two__list-item__top-title,
.b-three__article-two__list-item__bottom-title {
  position: absolute;
  bottom: -1px;
  background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
  color: $black;
  padding: 5px;
  width: 100%;
  font-weight: lighter;
  font-size: rem-calc(18);
}  

//set media
@media #{$medium-up} {
  .b-three__article {
    margin-bottom:35px;
  }
  .b-three__article-two {
    margin-top:0;
  }
  .b-three__article-one__title,
  .b-three__article-one__subtitle { 
    padding:0;
  }
  .b-three__article-two__list-item__top-label,
  .b-three__article-two__list-item__bottom-label {
    min-height: 35px;
    min-width: 121px;
    padding: 6px 0;
  }
}
@media #{$large-up} {
  .b-three__article-two__list-item__top-label,
  .b-three__article-two__list-item__bottom-label {
    min-height: 33px;
    min-width: 107px;
    padding: 4px 0;
  }
}