//set style
.b-teaser__featured--h {
  .featured-video {
    .featured-video__img {
      min-width: 100%;
      width: 100%;
      height: auto;
    }
    .featured-video__title {
      text-transform: uppercase;
      color:$green-light;
      font-size: rem-calc(24);
    }
    .featured-video__subtitle {
      color:$black;
      font-size: rem-calc(22);
    }
  }
  .featured-articles  {
    .featured-articles__list {
      list-style: none;
      margin: 0;
      padding: 0;
      .list__item--first {
        position: relative;
        margin-bottom:35px;
        .featured-articles__category---top {
          position: absolute;
          top: 0;
          text-align: center;
          color: $white;
          text-transform: uppercase;
          @include right(0);
          @media #{$small-only} {
            width:98px;
          }
          @media #{$medium-up} {
            width:120px;
          }
          @media #{$large-up} {
            width:108px;
          }
        }
        .featured-articles__img--top {
            min-width: 100%;
            height: auto;
          }
        .featured-articles__title---top {
          position: absolute;
          bottom: 0;
          background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
          color: $black;
          padding: 8px;
          width: 100%;
        }
      }
      .list__item--last {
        position: relative;
         .featured-articles__category---bottom {
          position: absolute;
          top: 0;
          text-align: center;
          color: $white;
          text-transform: uppercase;
          @include right(0);
          @media #{$small-only} {
            width:96px;
          }
          @media #{$medium-up} {
            width:120px;
          }
          @media #{$large-up} {
            width:108px;
          }
        }
        .featured-articles__img--bottom {
            min-width: 100%;
            height: auto;
          }
        .featured-articles__title---bottom {
          position: absolute;
          bottom: 0;
          background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
          color: $black;
          padding: 8px;
          width: 100%;
        }
      }
    }
  }

}//end teaser ft.home