//set grid
 .b-teaser__category--h {
    @media #{$small-only} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$medium-up} {
      @include grid-column(12, $collapse:true);
    }
    @media #{$large-up} {
      @include grid-column(12, $collapse:true);
    }
  }

  
//set style
.b-teaser__category--h {
  margin-bottom: 35px;
  .category__title {
    text-transform: uppercase;
    border-bottom:solid 3px $green-light;
    font-size: rem-calc(24);
    span {
      color:$gray-dark;
    }
  }
  .category__content {
    position: relative;
  }
  .category__subtitle {
    background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: rem-calc(24);
    color: $black;
  }
}