//all sprites are placed here

// set sprites options - for sprite map or sprite : see compass docs
@import "compass/utilities/sprites";
$small-layout:vertical;
$small-repeat: no-repeat; 
$small-spacing: 30px;

$medium-layout:vertical;
$medium-repeat: no-repeat; 
$medium-spacing: 30px;

$large-layout:vertical;
$large-repeat: no-repeat; 
$large-spacing: 30px;

////////sprites for small
@media #{$small-only} {
  @import "small/*.png";  

//header
.header__mob-content {
  .main-nav {
    .menu a {
      @include small-sprite(header-icon-hamburger);
    }
    .user a {
      @include small-sprite(header-icon-user);
    }
    .search a{
      @include small-sprite(header-icon-search);
    }
    .logo a {
      @include small-sprite(logo-ana);
    }
  }
}

//home b-content__top--h
.featured-articles__category---top {
    @include small-sprite(text-bgrnd-green); 
}

.featured-articles__category---bottom {
    @include small-sprite(text-bgrnd-yellow); 
}

}//small ends

////////sprites for medium up
@media #{$medium-up} {
  @import "medium/*.png";  

//header
.header__mob-content {
  .main-nav {
    .menu a {
      @include medium-sprite(header-icon-hamburger);
    }
    .user a {
      @include medium-sprite(header-icon-user);
    }
    .search a{
      @include medium-sprite(header-icon-search);
    }
    .logo a {
      @include medium-sprite(logo-ana);
    }
  }
}

//home b-content__top--h
.featured-articles__category---top {
    @include medium-sprite(text-bgrnd-green); 
}

.featured-articles__category---bottom {
    @include medium-sprite(text-bgrnd-yellow); 
}

}//medium ends


/////////sprites for large
@media #{$large-up} {
  @import "large/*.png";  

//topbar
.wayyana__logo {
  @include large-sprite(logo-wayyana);
  @include rtl {
    background-position: 60px -91px;
  }
}

//header
  .header__desk-content {
    .header-logo{
      @include large-sprite(logo-ana);
      @include rtl {
        background-position: 154px 0;
      }
    }
    .header-search__button{
      @include large-sprite(header-icon-search);
    }
    .header-social__fb {
      @include large-sprite(header-icon-fb); 
    }
    .header-social__tube {
      @include large-sprite(header-icon-yt); 
    }
    .header-social__tweet {
      @include large-sprite(header-icon-tw); 
    }
    .header-social__gplus {
      @include large-sprite(header-icon-gplus); 
    }
    .header-social__pinit {
      @include large-sprite(header-icon-pinit); 
    }

    .header-social__instg {
      @include large-sprite(header-icon-instagram); 
    }
    nav a.home {
      @include large-sprite(main-nav-icon-home); 
      @include rtl {
        @include large-sprite(main-nav-icon-home-ar); 
      }
    }
  }
  //home b-content__top--h
  .b-tsr__featured--h .featured-articles__category---top {
    @include large-sprite(text-bgrnd-green); 
  }
  .b-tsr__featured--h .featured-articles__category---bottom {
    @include large-sprite(text-bgrnd-yellow); 
  }
 //home products-top__list owl-carousel owl-theme
  .b-tsr__products-top--h .products-top__list .owl-prev {
    @include large-sprite(carousel-arrow-left);
  }
  .b-tsr__products-top--h .products-top__list .owl-next {
    @include large-sprite(carousel-arrow-right);
  }
   //home products-bottom__list owl-carousel owl-theme
  .b-tsr__products-recent--h .products-recent__list .owl-prev {
    @include large-sprite(carousel-arrow-left);
  }
  .b-tsr__products-recent--h .products-recent__list .owl-next {
    @include large-sprite(carousel-arrow-right);
  }
  //widget forum
  .w-forum--sidebar .data__comments {
    @include large-sprite(icon-comment-baloon);
  }
}//large ends

