//all sprites are placed here

// set sprites options - for sprite map or sprite : see compass docs
@import "compass/utilities/sprites";
$small-layout:vertical;
$small-repeat: no-repeat; 
$small-spacing: 30px;

$medium-layout:vertical;
$medium-repeat: no-repeat; 
$medium-spacing: 30px;

$large-layout:vertical;
$large-repeat: no-repeat; 
$large-spacing: 30px;

////////sprites for small
@media #{$small-only} {
  @import "small/*.png";  

//header
.header__mob {
  .main-nav { 
    .menu a {
      @include small-sprite(header-icon-hamburger);
    }
    .user a {
      @include small-sprite(header-icon-user);
    }
    .search a{
      @include small-sprite(header-icon-search);
    }
    .logo a {
      @include small-sprite(logo-ana);
    }
  }
}

//home b-content__top--h
.b-three-articles .content-list .list__item--top-label {
  @include small-sprite(text-bgrnd-green); 
}

.b-three-articles .content-list .list__item--bottom-label {
  @include small-sprite(text-bgrnd-yellow); 
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include small-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include small-sprite(carousel-arrow-right);
}

}//small ends

////////sprites for medium up
@media #{$medium-up} {
  @import "medium/*.png";  

//header
.header__mob {
  .main-nav {
    .menu a {
      @include medium-sprite(header-icon-hamburger);
    }
    .user a {
      @include medium-sprite(header-icon-user);
    }
    .search a{
      @include medium-sprite(header-icon-search);
    }
    .logo a {
      @include medium-sprite(logo-ana);
    }
  }
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include medium-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include medium-sprite(carousel-arrow-right);
}

//home b-content__top--h
.b-three-articles .content-list .list__item--top-label {
  @include medium-sprite(text-bgrnd-green); 
}

.b-three-articles .content-list .list__item--bottom-label {
  @include medium-sprite(text-bgrnd-yellow); 
}

//widget forum
.w-forum .data__comments {
  @include medium-sprite(icon-comment-baloon);
}
}//medium ends


/////////sprites for large
@media #{$large-up} {
  @import "large/*.png";  

//topbar
.wayyana__logo {
  @include large-sprite(logo-wayyana);
  @include rtl {
    background-position: 60px -91px;
  }
}

//header
.header__desk {
  .header-logo{
    @include large-sprite(logo-ana);
    @include rtl {
      background-position: 154px 0;
    }
  }
  .header-search__button{
    @include large-sprite(header-icon-search);
  }
  .header-social__fb {
    @include large-sprite(header-icon-fb); 
  }
  .header-social__tube {
    @include large-sprite(header-icon-yt); 
  }
  .header-social__tweet {
    @include large-sprite(header-icon-tw); 
  }
  .header-social__gplus {
    @include large-sprite(header-icon-gplus); 
  }
  .header-social__pinit {
    @include large-sprite(header-icon-pinit); 
  }

  .header-social__instg {
    @include large-sprite(header-icon-instagram); 
  }
  nav a.home {
    @include large-sprite(main-nav-icon-home); 
    @include rtl {
      @include large-sprite(main-nav-icon-home-ar); 
    }
  }
}

//home b-content__top--h
.b-three-articles .content-list .list__item--top-label {
  @include large-sprite(text-bgrnd-green); 
}
.b-three-articles .content-list .list__item--bottom-label {
  @include large-sprite(text-bgrnd-yellow); 
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include large-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include large-sprite(carousel-arrow-right);
}

//widget forum
.w-forum .data__comments {
  @include large-sprite(icon-comment-baloon);
}
}//large ends

