//all sprites are placed here

// set sprites options - for sprite map or sprite : see compass docs
@import "compass/utilities/sprites";
$small-layout:vertical;
$small-repeat: no-repeat; 
$small-spacing: 30px;


$medium-layout:vertical;
$medium-repeat: no-repeat; 
$medium-spacing: 30px;

$large-layout:vertical;
$large-repeat: no-repeat; 
$large-spacing: 30px;
$large-position-x:-100%;
$large-position-y:-100%;
////////sprites for small
@media #{$small-only} {
  @import "small/*.png";  

//header
.header__mob {
  .main-nav { 
    .menu a {
      @include small-sprite(header-icon-hamburger);
    }
    .user a {
      @include small-sprite(header-icon-user);
    }
    .search a{
      @include small-sprite(header-icon-search);
    }
    .logo a {
      @include small-sprite(logo-ana);
       @include rtl {
        @include small-sprite(logo-ana,$offset-x: 5px, $offset-y: 0);
      }
    }
  }
}

//home b-content__top--h
.b-three__article-two__list-item__top-label  {
  @include small-sprite(text-bgrnd-green); 
}

.b-three__article-two__list-item__bottom-label  {
  @include small-sprite(text-bgrnd-yellow); 
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include small-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include small-sprite(carousel-arrow-right);
}

//baloons - b-counter
.b-counter__productCount {
  @include small-sprite(baloon-pink);
}
.b-counter__reviewCount {
  @include small-sprite(baloon-green);
}

//share buttons
.share-article__item-gplus {
  @include small-sprite(icon-share-gplus);  
} 
.share-article__item-tweet {
  @include small-sprite(icon-share-tweet);  
} 
.share-article__item-fb {
  @include small-sprite(icon-share-fb);  
} 
.share-article__item-pinit {
  @include small-sprite(icon-share-pinit); 
} 

}//small ends

////////sprites for medium up
@media #{$medium-up} {
  @import "medium/*.png";  

//header
.header__mob {
  .main-nav {
    .menu a {
      @include medium-sprite(header-icon-hamburger);
    }
    .user a {
      @include medium-sprite(header-icon-user);
    }
    .search a{
      @include medium-sprite(header-icon-search);
    }
    .logo a {
      @include medium-sprite(logo-ana);
      @include rtl {
        @include medium-sprite(logo-ana,$offset-x: 5px, $offset-y: 0);
      }
    }
  }
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include medium-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include medium-sprite(carousel-arrow-right);
}

//home b-content__top--h
.b-three__article-two__list-item__top-label   {
  @include medium-sprite(text-bgrnd-green); 
}

.b-three__article-two__list-item__bottom-label  {
  @include medium-sprite(text-bgrnd-yellow); 
}

//widget forum
.w-forum .data__comments {
  @include medium-sprite(icon-comment-baloon);
   @include rtl {
        @include medium-sprite(icon-comment-baloon,$offset-x: 2px, $offset-y: 0);
      }
}

//baloons - b-counter
.b-counter__productCount {
  @include medium-sprite(baloon-pink);
}
.b-counter__reviewCount {
  @include medium-sprite(baloon-green);
}

//share buttons
.share-article__item-gplus {
  @include medium-sprite(icon-share-gplus);  
} 
.share-article__item-tweet {
  @include medium-sprite(icon-share-tweet);  
} 
.share-article__item-fb {
  @include medium-sprite(icon-share-fb);  
} 
.share-article__item-pinit {
  @include medium-sprite(icon-share-pinit); 
} 
.btn-reply__comment span {
  @include medium-sprite(icon-reply); 
}
}//medium ends


/////////sprites for large
@media #{$large-up} {
  @import "large/*.png";  


//topbar
.wayyana__logo {
  @include large-sprite(logo-wayyana);
  @include rtl {
    @include large-sprite(logo-wayyana,$offset-x: 51px, $offset-y: 0);
  }
}

//header
.header__desk {
  .header-logo{
    @include large-sprite(logo-ana);
    @include rtl {
      @include large-sprite(logo-ana, $offset-x: 100%, $offset-y: 0);
    }
  }
  .header-search__button{
    @include large-sprite(header-icon-search);
  }
  .header-social__fb {
    @include large-sprite(header-icon-fb); 
  }
  .header-social__tube {
    @include large-sprite(header-icon-yt); 
  }
  .header-social__tweet {
    @include large-sprite(header-icon-tw); 
  }
  .header-social__gplus {
    @include large-sprite(header-icon-gplus); 
  }
  .header-social__pinit {
    @include large-sprite(header-icon-pinit); 
  }

  .header-social__instg {
    @include large-sprite(header-icon-instagram); 
  }
  nav a.home {
    @include large-sprite(main-nav-icon-home, $offset-x: 12px, $offset-y: 9); 

  }
}

//home b-content__top--h
.b-three__article-two__list-item__top-label  {
  @include large-sprite(text-bgrnd-green); 
}
.b-three__article-two__list-item__bottom-label   {
  @include large-sprite(text-bgrnd-yellow); 
}

//b-scroll-3thumbs__list carousel arrows
.b-scroll-3thumbs__list .owl-prev {
  @include large-sprite(carousel-arrow-left);
}
.b-scroll-3thumbs__list .owl-next {
  @include large-sprite(carousel-arrow-right);
}

//widget forum
.w-forum .data__comments {
  @include large-sprite(icon-comment-baloon);
     @include rtl {
        @include large-sprite(icon-comment-baloon,$offset-x: 5px, $offset-y: 0);
      }
}

//baloons - b-counter
.b-counter__productCount {
  @include large-sprite(baloon-pink);
}
.b-counter__reviewCount {
  @include large-sprite(baloon-green);
}

//share buttons
.share-article_item-gplus {
  @include large-sprite(icon-share-gplus);  
} 
.share-article_item-tweet {
  @include large-sprite(icon-share-tweet);  
} 
.share-article__item-fb {
  @include large-sprite(icon-share-fb);  
} 
.share-article__item-pinit {
  @include large-sprite(icon-share-pinit); 
}

//
.btn-reply__comment span {
  @include large-sprite(icon-reply); 
  @include rtl {
    @include large-sprite(icon-reply-ar); 
  }
}
}//large ends
