//set grid
.w-forum {
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}
//set visibility 
.w-forum {
  @extend .show-for-medium-up;
}
//set style
.w-forum {
  font-weight: lighter;
  margin-bottom:35px;
  p {
    margin: 1rem 0 !important;
  }
  .forum__section-title {
    text-transform: uppercase;
    color: $black;
    font-weight: normal;
    margin: 0 !important;
    font-size: rem-calc(24); 
  }
  .forum__content {
    border-bottom: dashed 1px $gray-light;
    &:nth-last-child(1) {
      border-bottom:none;
    }
  }
  .forum__data {
    .data__comments{
      display: block;
      @include float(left);
      height: 28px;
      margin-right: 10px;
      text-align: center;
      width: 33px;
      color: $white;
    }
    .data__post-day {
      display: block;
    }
  }
}
//set media
@media #{$medium-up} {
  .w-forum   .forum__data { 
    font-size: rem-calc(15);  
    span {
      line-height:1;
    }
    .data__comments {
      line-height:1.8;
      height: 33px ;
      width: 38px;
      @include padding-right(5px);
    }
  }
  .w-forum .forum__title { 
    font-size: rem-calc(16);
  } 
}

@media #{$large-up} {
  .w-forum   .forum__data { 
    font-size: rem-calc(13);  
    .data__comments {
      line-height:1.8;
    }
  }
}