//set grid
.w-forum {
  @media #{$medium-up} {
      @include grid-column(6);
  }
  @media #{$large-up} {
        @include grid-column(11, $center:true, $collapse:true);
  }
}
//set visibility 
.w-forum {
  @extend .show-for-medium-up;
}
//set style
.w-forum .col-border {
  border:solid 1px $gray-light;
  padding: 10px;
}

.w-forum {
  font-weight: lighter;
  p {
    margin: 1rem 0 !important;
  }
  .forum__section-title {
    text-transform: uppercase;
    color: $black;
  }
  .forum__content {
    border-bottom: dashed 1px $gray-light;
    &:nth-last-child(1) {
      border-bottom:none;
    }
    .forum__title {
         font-size: rem-calc(14);
    }
  }
  .forum__data {
      font-size: rem-calc(12);
    .data__comments {
      display: block;
      @include float(left);
      min-height: 35px;
       min-width: 37px;
      line-height: 24px;
      @include padding(1px, 0, 0, 0);
      @include margin-right(10px);
     
      text-align: center;
      color: $white;
    }
    .data__post-day {
      display: block;
    }
  }
}


//set media
@media #{$large-up} {
.w-forum .forum__data .data__comments {
   @include padding(0, 0, 0, 0);
   font-weight: normal;
   min-width: 34px;
}
}