//set grid
.w-poll {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(6);
    }
    @media #{$large-up} {
      @include grid-column(12, $collapse:true);
    }
  }



//set holders 
.w-poll {
  .wrapper {
    padding: 10px;
    border:solid 1px $gray-light;
  }
}//end set holder

//set style
.w-poll {
  margin-bottom:35px;
  p {
    margin: 1rem 0 !important;
  }
  .w-poll__img--full {
    @include grid-row(nest);
    .w-poll__img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .w-poll__title {
    font-size: rem-calc(24);
    text-transform: uppercase;
    color: $black;
    margin-top: 0 !important;
  }
  .w-poll__fieldset {
    border:none;
    padding: 0;
    margin: 0;
  }
  .w-poll__input {
    position: relative;
    top:2px;
  }
}