//set grid
.w-poll {
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
        @include grid-column(11, $center:true, $collapse:true);
  }
  .w-poll__img--full {
    @include grid-row(nest);
  }
}

//set style
.w-poll   .col-border {
  border:solid 1px $gray-light;
  padding: 10px;
}

.w-poll {
  clear:both;
  .w-poll__img--full {
    .w-poll__img {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin: 15px 0;
    }
  }
  .w-poll__section-title {
    text-transform: uppercase;
    color: $black;
  }
  .w-poll__title {
    color: $black;
  }
  form {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .w-poll__fieldset {
    border:none;
    padding: 0;
    margin: 0;
  }
  .w-poll__label {
    color: $gray-dark;
  }
  .btn {
    @include btn;
   display: table;
    margin:0 auto;
  }
}