//set grid
.w-poll {
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
  .w-poll__img--full {
    @include grid-row(nest);
  }
}

//set style
.w-poll {
  font-weight: lighter;
  margin-bottom:35px;
  clear:both;
  .w-poll__img--full {
    .w-poll__img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .w-poll__section-title {
    text-transform: uppercase;
    color: $black;
    font-weight: normal;
    margin-bottom:10px !important;
    font-size: rem-calc(24); 
  }
  .w-poll__title {
    color: $black;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    line-height:1.4;
  }
  .w-poll__fieldset {
    border:none;
    padding: 0;
    margin: 0;
  }
  .w-poll__label {
    color: $gray-dark;
  }
  .w-poll__input {
    margin-bottom: 0;
  }
  .btn {
    @include btn;
    display: table;
    margin-top: 35px;

  }
}

//set media
@media #{$small-only} {
  .w-poll__title,
  .w-poll__label  {
    font-size: rem-calc(20);
  }
}