//set width of blocks
.b-tsr__products-top--h,
.b-tsr__category--h,
.b-tsr__products-recent--h,
.b-tsr__articles--h {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}

.b-tsr__featured--h {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

//set wrappers and holders for content
.b-content__top--h {
  @include grid-row();
}
.b-content__bottom--h {
  @include grid-column(12);
}

//style block b-tsr__featured--h
.b-tsr__featured--h {
  .wrapper {
    @include grid-row($behavior: nest);
    position: relative;
    z-index: 1;
  }
  .featured-video  {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(8);
    }
    @media #{$large-up} {
      @include grid-column(8);
    }
    .featured-video__img {
      /*width: 100%;*/
    }
    .featured-video__title {
      text-transform: uppercase;
      color:$green-light;
      @media #{$small-only} {
        font-size: rem-calc(18);
      }
      @media #{$medium-up} {
        font-size: rem-calc(30);
      }
      @media #{$large-up} {
        font-size: rem-calc(24);
      }
    }
    .featured-video__subtitle {
      color:$black;
      @media #{$small-only} {
        font-size: rem-calc(22);
      }
      @media #{$medium-up} {
        font-size: rem-calc(24);
      }
      @media #{$large-up} {
        font-size: rem-calc(22);
      }
    }
  }
  //style sub block featured-articles
  .featured-articles  {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(4);
    }
    @media #{$large-up} {
      @include grid-column(4);
    }
  }
  //style sub block featured-articles
  .featured-articles {
    .featured-articles__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    >li {
      display: block;
      position: relative;
    }
    .featured-articles__img--top {
      position: relative;
    }
    .featured-articles__category---top {
      position: absolute;
      top: 0;
      @include right(0);
      text-transform: uppercase;
      color: $white;
      font-size: rem-calc(18);
      text-align: center;
      margin: 0;
      padding-left: 34px;
      padding-right: 35px;
    }
    .featured-articles__title---top {
      margin-top: -71px;
      padding: 10px;
      position: relative;
      z-index: 2;
      background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
      @media #{$small-only} {
        font-size: rem-calc(22);
      }
      @media #{$medium-up} {
        font-size: rem-calc(24);
      }
      @media #{$large-up} {
        font-size: rem-calc(20);
      }
    }
  }
  .featured-articles__img--bottom {
    position: relative;
  }
  .featured-articles__category---bottom {
    position: absolute;
    top: 0;
    @include right(0);
    text-transform: uppercase;
    color: $white;
    font-size: rem-calc(18);
    text-align: center;
    margin: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
  .featured-articles__title---bottom {
    margin-top: -71px;
    padding: 10px;
    position: relative;
    z-index: 2;
    background: url(./../assets/images/text-bgrnd-opacity-white.png) repeat transparent;
    @media #{$small-only} {
      font-size: rem-calc(22);
    }
    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
    @media #{$large-up} {
      font-size: rem-calc(20);
    }
  }
}}

//style b-content__bottom--h
.b-content__bottom--h {
  .wrapper {
    @include grid-row();
  }
  .content-bottom--left {
    @media #{$small-only} {
      @include grid-column(12);
    }
    @media #{$medium-up} {
      @include grid-column(12);
    }
    @media #{$large-up} {
      @include grid-column(8);
    }
    .wrapper {
      @include grid-row();
    }
  }
  .products-top__title {
    text-transform: uppercase;
    border-bottom:solid 3px $green-light;
    @media #{$small-only} {
      font-size: rem-calc(20);
    }
    @media #{$medium-up} {
      font-size: rem-calc(30);
    }
    @media #{$large-up} {
      font-size: rem-calc(24);
    }
    span {
      color:$gray-dark;
    }
  }
  .products-top__btn-holder {
    display: block;
    border-bottom: solid 1px $gray-light;
    margin-top: 20px;
    margin-bottom: 40px;
    .products-top__btn {
      @include float(right);
      margin-bottom: 0;
      border-radius: 0;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
}//end b-content__bottom--h
