//set grid
.product-page {
  @media #{$small-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

.product-page article {
  @include grid-row($behavior:collapse);
}

.product-page article header {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(7, $offset:5);
  }
}

.product-page article figure {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.product-page article .article-content {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(7, $offset:1);
  }
}

.product-page article .btn {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.product-page article .b-editors {
  @media #{$small-up} {
    @include grid-column(12, $collapse:true);
  }
}

.product-page article  .b-editors--list {
  @include grid-row();
}

.product-page article  .b-editors__rounded-list {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6, $offset:1, $push:5);
  }
}

.product-page article .b-editors__numbered-list {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(5, $pull:7);
  }
}

.product-page article .share-article__list {
  @media #{$small-up} {
    @include grid-column(12);
  }
}

//set visibility
.share-article__list .share-article__item-pinit {
  @extend .show-for-large-up;
}

//set style
.product-page article {
  header {
    position: relative;
    h1 {
      display:inline-block;
      @include float(left);
      width: 280px;
      font-size: rem-calc(24);
    }
    p {
      font-size: rem-calc(26);
      @include border-left(solid 1px $gray-medium);
      @include text-align(right);
      @include padding-left(20px);
      position: absolute;
      @include right(0);
      top:0;
      color: $black;
      display:inline-block;
    }
  }
  figure {
    margin: 0 auto;
    text-align: center;
  }
  .btn {
    @include btn;
  }
}

.article-content {
  ul.rating-list {
    border-top:solid 1px $gray-light;
    border-bottom:solid 1px $gray-light;
    list-style: none;
    padding: 0;
    margin: 15px  0;
    color:$gray-medium;
    width: 100%;
    text-align: center;
    display: block;
    @include float(left);
    >li {
      display: inline-block;
      font-weight: lighter;
      @include float(left);
      line-height: 3.5;
      vertical-align: middle;
      padding: 0;
    }
    .rating-list__item--img {
      float: none;
      display: inline-block;
      margin: 0 auto;
    }
    .rating-list__item--reviewCount {
      color: $pink;
      line-height: 0.8;
      font-size: rem-calc(30);
      font-weight: bold;
      padding: 6px 0 2px;
      @include float(right);
      span {
        display: block;
        color: $gray-medium;
        font-size: rem-calc(16);
        font-weight: lighter;
      }
    }
  }

  p {
    font-weight: lighter;
    color: $black;
  }

  ul.list {
    margin: 35px 0;
    padding: 0;
    list-style: none;
    font-size: rem-calc(16);
    >li {
      display: block;
      line-height: 0.8;
      vertical-align: middle;
      color: $gray-medium;
      span {
        font-weight: bold;
        display: inline-block;
        @include margin-right(10px);
        min-width: 80px;
      }
    }
  }
}

.b-editors__rounded-list {
  counter-reset: li;
  list-style: none outside none;
  margin:0;
  padding: 0;
  .rounded-list__item--title {
    padding: 0;
    text-transform: uppercase;
    border-bottom:solid 3px $gray-light;
    color: $green-light;
    font-size: rem-calc(18);
    margin-bottom: 15px;
    span {
      color:$black;
    }
    &:before {
      border-radius: 0;
      content: none;
    }
  }
  li {
    display: block;
    margin: 0;
    @include padding (0, 0, 1em, 2.5em);
    position: relative;
    text-decoration: none;
    font-size: rem-calc(14);
    &:before {
      font-size: rem-calc(16);
      color:$green-light;
      background: none repeat scroll 0 0 $gray-light;
      border-radius: 2em;
      content: counter(li, decimal);
      counter-increment: li;
      height: 1.5em;
      @include left(0);
      line-height: 1.5em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.5em;
    }
  }
}

.b-editors__numbered-list  {
  list-style: none;
  margin: 29px 0 0;
  border-top: solid 1px $gray-light;
  li {
    border-bottom: solid 1px $gray-light;
    display: block;
    margin: 0.5em 0;
    padding:0.4em 0;
    position: relative;
    text-decoration: none;
    line-height: 3;
    vertical-align: middle;
    font-size: rem-calc(14);
    @include text-align(left);
    span {
      @include float(right);
      color: $pink;
      display: table;
      margin-top: 9px;
    }
  }
}

.share-article__list {
  list-style: none;
  margin:35px 0;
  padding:0;
  @include float(left);
  display: block;
  width: 100%;
  li {
    display: block;
    @include float(left);
    height: 33px;
    @include margin-right(10px);
    text-indent: -9999px;
    width: 96px;
  }
  .share-article__item-pinit {
    @include margin-right(0);
  }
}

//set media 
@media #{$small-up} {
  .product-page article {
    margin-top: 35px;
  }
  .product-page article header h1 {
    width: 200px;
  }
  .b-editors {
    margin-top: 35px;
  }
  .share-article__list li {
    width: 92px;
    @include margin-right(1px !important);
  }
  .share-article__item-fb {
    @include margin-right(0 !important);
  }
}
@media #{$large-up} {
  .share-article__item-fb {
    @include margin-right(10px !important);
  }
  .b-editors {
    background: url("/public/assets/images/bg-content-product-detail.jpg") no-repeat scroll center top transparent;
    margin-top: 35px;
    padding-top: 35px;
  }
}