//set grid
.product-page {
  @media #{$small-up} {
    @include grid-column(12);
  }
  @media #{$large-up} {
    @include grid-column(8);
  }
}

.product-page article {
  @include grid-row($behavior:collapse);
}

.product-page article header {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(7, $offset:5);
  }
}

.product-page article figure {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.product-page article .article-content {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(7, $offset:1);
  }
}

.product-details__btn--review {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(4);
  }
}

.product-page article .b-editors {
  @media #{$small-up} {
    @include grid-column(12);
  }
}

.product-page article  .b-editors--list {
  @include grid-row();
}

.product-page article  .b-editors__rounded-list {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(7, $offset:1, $push:4);
  }
}

.product-page article .b-editors__numbered-list {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(4, $pull:8);
  }
}

.product-page article .share-article__list {
  @media #{$small-up} {
    @include grid-column(12);
  }
}

//set visibility
.share-article__list .list__item-pinit {
  @extend .show-for-large-up;
}

//set style
.product-page article {
  header {
    position: relative;
    h1 {
      font-size: rem-calc(20);
      display:inline-block;
      width: 280px;
      @include float(left);
    }
    p {
      font-size: rem-calc(24);
      @include border-left(solid 1px $gray-medium);
      @include text-align(right);
      @include padding-left(20px);
      position: absolute;
      @include right(0);
      top:0;
      color: $black;
      display:inline-block;
    }
  }
  figure {
    margin: 0 auto;
    text-align: center;
  }
}

.article-content {
  ul.rating-list {
    border-top:solid 1px $gray-light;
    border-bottom:solid 1px $gray-light;
    list-style: none;
    margin: 35px  0;
    padding: 0;
    color:$gray-medium;
    width: 100%;
    text-align: center;
    display: block;
    @include float(left);
    >li {
      display: inline-block;
      @include float(left);
      line-height: 3.5;
      vertical-align: middle;
      padding: 0;
    }
    .list__item--img {
      float: none;
      display: inline-block;
      margin: 0 auto;
    }
    .list__item--reviewCount {
      color: $pink;
      font-weight: 500;
      line-height: 0.8;
      padding: 6px 0 2px;
      @include float(right);
      span {
        display: block;
        color: $gray-medium;
      }
    }
  }

  p {
    font-weight: lighter;
    color: $black;
  }

  ul.list {
    margin: 35px 0;
    padding: 0;
    list-style: none;
    font-size: rem-calc(16);
    >li {
      display: block;
      line-height: 0.8;
      vertical-align: middle;
      span {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        min-width: 80px;
      }
    }
  }
}

.b-editors__rounded-list {
  counter-reset: li;
  list-style: none outside none;
  margin:0;
  padding: 0;
  .list__item--title {
    padding: 0;
    text-transform: uppercase;
    border-bottom:solid 3px $gray-light;
    color: $green-light;
    font-size: rem-calc(14);
    margin-bottom: 15px;
    span {
      color:$black;
    }
    &:before {
      border-radius: 0;
      content: none;
    }
  }
  li {
    display: block;
    margin: 0.5em 0;
    padding: 0.4em 0.4em 0.4em 3em;
    position: relative;
    text-decoration: none;
    &:before {
      font-size: rem-calc(20);
      color:$green-light;
      background: none repeat scroll 0 0 $gray-light;
      border-radius: 2em;
      content: counter(li, decimal);
      counter-increment: li;
      height: 1.5em;
      left:0;
      line-height: 1.5em;
      margin-top: -1.3em;
      position: absolute;
      text-align: center;
      top: 71%;
      width: 1.5em;
    }
  }
}

.b-editors__numbered-list  {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px $gray-light;
  li {
    border-bottom: solid 1px $gray-light;
    display: block;
    margin: 0.5em 0;
    padding:0.4em 0;
    position: relative;
    text-decoration: none;
    line-height: 3;
    vertical-align: middle;
    @include text-align(left);
    span {
      @include float(right);
      color: $pink;
      display: table;
      margin-top: 9px;
    }
  }
}

.share-article__list {
  list-style: none;
  margin:35px 0;
  padding:0;
  @include float(left);
  display: block;
  width: 100%;
  li {
    display: block;
    @include float(left);
    height: 33px;
    @include margin-right(10px);
    text-indent: -9999px;
    width: 96px;
  }
  .list__item-pinit {
    @include margin-right(0);
  }
}