//main nav mobile version
  //create visibility rules
   .header__mob {
    @extend .hide-for-large-up;
  }

//mobile version
//create mob holders
.header__mob {
  @include grid-column(12, $collapse:true);
      .wrapper {
      @include grid-row();
    }
}//end mob holders

//create mob style
.header__mob {
  .main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 4px $green-light;
    @include float(left);
    width: 100%;
    >li {
      display: block;
      @include float(left);
      @include border-right(solid 1px $gray-light);
      >a {
        text-indent: -9999px;
        display: block; 
        @media #{$small-only} {
          width: 43px;
          height: 46px;
        }
        width: 60px;
        height: 52px;
      }
    }
    .logo {
      @include float(right);
      a {
        @media #{$small-only} {
          width: 150px;
        }
        width: 185px;
      }
    }
  }
}//end mob style




//main nav desk version
//create nav holders
.header__desk .main-nav {
  @include grid-column(12, $collapse:true);
}//end nav holders

//style nav
.header__desk .main-nav {
  background-color: $green-light;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
      text-transform: uppercase;
      color: $white;
      display: block;
      @include float(left);
      padding: 7px 26px;
      &:hover {
        background-color: $green-dark;
    }
  }
  a.home {
    text-indent: -9999px;
    @include margin-left(16px);
    padding: 0 12px 11px;
    &:hover {
      background-color: transparent;
    }
  }
  a.last {
    right: 0;
    background-color: $green-dark;
  }
}//end style nav