//set grid
.header__desk .main-nav {
  @include grid-column(12, $collapse:true);
}

//set style
.header__desk .main-nav {
  background-color: $green-light;
  position: relative;
  margin-top: 10px;
  a {
    text-transform: uppercase;
    color: $white;
    display: block;
    @include float(left);
    line-height: 40px;
    text-align: center;
    padding: 0 24px;
    @include rtl {padding:0 22px};
    @include margin(0, 1px, 0, 0);
    &:hover {
      background-color: $green-dark;
    }
  }
  a.home {
    text-indent: -9999px;
    &:hover {
      background-color: $green-dark;
    }
  }
  a.last {
    @include right(0);
    @include rtl {
      padding: 0 27px;
    }
    @include ltr {
      margin: 0;
      padding: 0 30px;
    }
    background-color: $green-dark;
    position: absolute;
  }
}