//home products-top__list owl-carousel owl-theme
.products-top__list.owl-carousel.owl-theme {
  padding-left:30px;
  padding-right: 30px;
  .item{
      margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .item__img {
    display: block;
    width: 100%;
    height: auto;
        border:solid 1px $gray-light;
  }
  .item__title {
    color: $black;
    margin: 0;
    font-size: rem-calc(15);
  }
  .item__subtitle {
    color: $gray-dark;
    margin: 0;
  }
  .item__counter {
    color: $pink;
    margin: 0;
  }
  //Styling Next and Prev buttons 
   .owl-controls .owl-buttons .owl-prev,
   .owl-controls .owl-buttons .owl-next {
    position: absolute;
    font-size: rem-calc(30);
    display: inline-block;
    zoom: 1;
     top: 18%;
      height: 35px;
    width: 20px;
    *display: inline;/*IE7 life-saver */
  }
  .owl-controls .owl-buttons .owl-prev {
    left: 0;
 
  }
 .owl-controls .owl-buttons .owl-next {
    right: 0;
   


  }

}//end products-top__list







/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}




 
