



//preloading images - not using this but could
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}



//style b-promo__site--sidebar 
.b-promo__site--sidebar {
  border-right: solid 1px $gray-light;
  text-align: center;
}
 
