//set style
ul.tags__list {
  list-style: none;
  >li.tags__item {
    display:inline-block;
    background-color: $gray-light;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color:$gray-dark;
    &:hover {
      background-color: $green-light;
      color:$white;
    }
    >a {
      color:$gray-dark; 
      display: block;
      padding: 2px 10px;
      font-size:rem-calc(14);
      font-weight: lighter;
      &:hover {
        color:$white;
      }
    }
  }
}


//set media
@media #{$small-only} {        
  ul.tags__list  {
    margin:15px 0 0;
    padding:0;
    >li.tags__item {
      margin-bottom: 10px;
      @include margin-right(10px);
    }
  }
}
@media #{$medium-only}{    
  ul.tags__list {    
    margin:15px 0 0;
    padding:0;
    >li.tags__item {
      margin-bottom: 15px;
      @include margin-right(10px);
    }
  }
}
@media #{$large-up}{
  ul.tags__list  {
    margin:15px 0 0;
    padding:0;
    >li.tags__item {
      margin-bottom: 15px;
      @include margin-right(10px);
    }
  }
}
