//set grid
.l-footer {
.l-footer-wrapper {
    @include grid-row();
  }
  .footer-category {
    @include grid-column(3);
  }
}

//set visibility
.l-footer {
  @extend .show-for-large-up;
}

//set style
.l-footer {
  margin-top: 70px;
  background-color: $gray-light;
  .l-footer-wrapper {
    padding-top:35px;
    padding-bottom:35px;
  }
  .footer-category__title {
    color:$pink;
  }
  .category__list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      display: block;
      a {
        color: $gray-dark;
      }
    }
  }
}

//set media 
@media #{$medium-up} {
  margin-bottom: 15px;
  }