//set grid
.b-add--bottom {
  @include grid-column(12, $center:true);
  }
  //set style
.b-add--bottom {
  @include grid-column(12, $center:true);
  text-align:center;
  margin-top: 5px;
  margin-bottom: 15px;
}