//set grid
.b-add__middle--sidebar { 
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}
//set style
.b-add__middle--sidebar { 
  .wrapper {
    border: solid 1px $gray-light;
    padding: 10px;
  }
  text-align: center;
  margin-bottom: 35px;
  img {
    max-width: 100%;
    height: auto;
  }
}