  //set grid
.b-ad__top {
  @include grid-column(12, $collapse:true);
  .b-add__top-content {
    @include grid-row();
  }
}

//set style
.b-ad__top{
  text-align:center;
  margin-top: 5px;
  margin-bottom: 15px;
}

//set media
.b-ad__top {
  @media #{$small-only} {
    margin-bottom: 0;
    margin-top: 0;
    img {
      width: 100%;
    }
  }
}