//set grid
.b-mpu1__sidebar {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(4, $push:8);
  }
}

.b-mpu2__sidebar {
  @media #{$small-only} {
    @include grid-column(12);
  }
  @media #{$medium-up} {
    @include grid-column(6, $pull:6);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}

//set style
.b-mpu1__sidebar {
  margin-top: 35px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

.b-mpu2__sidebar {
    text-align: center;
    margin-bottom: 35px;
      img {
    width: 100%;
    height: auto;
  }
}

//set media rule
.b-mpu1__sidebar {
  @media #{$small-only} {
    margin-bottom: 14px;
  }
    @media #{$medium-only} {
    margin-top: 0;
  }
}

.b-mpu2__sidebar {
  @media #{$large-up} {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    @include float(left);
  }
}