//set grid
.b-mpu2__sidebar {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12,$collapse:true);
  }
}

//set visibility tules
.b-mpu1__top-sidebar {
  @extend .show-for-large-up;
  margin-bottom: 35px;
}
//set style
.b-mpu1__sidebar {
  margin-top: 35px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

.b-mpu2__sidebar {
  text-align: center;
  margin-bottom: 35px;
  img {
    width: 100%;
    height: auto;
  }
}

//set media rule
@media #{$small-only} {
  .b-mpu1__sidebar {
    margin-bottom: 14px;
  }
}

@media #{$medium-only} {
  .b-mpu1__sidebar {
  margin-top: 0;
}
}

@media #{$large-up} {
  .b-mpu2__sidebar {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    @include float(left);
  }
}