 //set grid
.leaderboard__top {
  @include grid-row();
}
.leaderboard-wrapper {
  @include grid-column(12, $collapse:true);
}

//set visibility rules

//set style
.leaderboard__top {
  text-align:center;
  margin-top:0;
}

//set media
.leaderboard__top {
  @media #{$medium-up} {
    margin-top:15px;
  }
}