  //set grid
.leaderboard__top {
  @include grid-column(12, $collapse:true);
  
}

//set style
.leaderboard__top{
  text-align:center;
   margin: 5px auto 15px;
}

//set media
.leaderboard__top {
  @media #{$small-only} {
   margin-bottom: 0;
    margin-top: 0;
      img {
    width: 100%;
  }
  }
}

