//set grid
.leaderboard__top {
  @include grid-column(12, $collapse:true);
}

//set visibility rules

//set style
.leaderboard__top {
  text-align:center;
}

//set media
.leaderboard__top {
  @media #{$small-only} {
    img {
      width: 100%;
    }
  }
  @media #{$medium-up} {
    margin-top: 15px;
    margin-bottom: 35px;
  }
}