//set grid
.mpu__top,
.mpu__bottom {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
          @include grid-column(11, $center:true, $collapse:true);
  }
}

//set style
.mpu__top, 
.mpu__bottom {
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

//set media
