//set grid
.mpu__top,
.mpu__bottom {
  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    @include grid-column(6);
  }
  @media #{$large-up} {
    @include grid-column(12);
  }
}

//set visibility rules

//set style
.mpu__top, 
.mpu__bottom {
  margin-bottom: 35px;
  text-align: center;
  img {
    width: 100%;
    height: auto;
  }
}

//set media
@media #{$small-only} {}
@media #{$small-up} {}
@media #{$medium-only} {}
@media #{$medium-up} {}
@media #{$large-up} {}